<section class="home-header border-bottom padding-block">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-lg-5 text-center">
                <!-- Your foto -->
                <div class="full-length-photo">
                    <!-- for man -->
                    <img src="assets/img/man-home.png" style="height:400px" alt="Swatantra">
                    <!-- for women -->
                    <!-- <img src="./assets/img/woman-home.png" alt="Ukieweb"> -->
                </div>
                <!-- end your foto -->
            </div>
            <div class="col-xs-12 col-sm-7 col-lg-7">
                <!-- Menu -->
                <div class="small-menu">
                    <div class="icons-menu">
                        <button class="icons-menu-toggle-button" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                            <i class="icons-menu-icon fa fa-bars"></i>
                        </button>
                        <ul class="icons-menu-items">
                            <li class="icons-menu-item">
                                <a href="#!profile" class="icons-menu-button" style="z-index: 2; transform: matrix(0.95, 0, 0, 0.95, 0, 0);">
                                    <i class="icons-menu-icon fa fa-user" style="transform: matrix(0, 0, 0, 0, 0, 0);"></i>
                                </a>
                            </li>
                            <li cl`ass="icons-menu-item">
                                <a href="#!resume" class="icons-menu-button" style="z-index: 1; transform: matrix(0.95, 0, 0, 0.95, 0, 0);">
                                    <i class="icons-menu-icon fa fa-file-text" style="transform: matrix(0, 0, 0, 0, 0, 0);"></i>
                                </a>
                            </li>
                            <li class="icons-menu-item">
                                <a href="#!portfolio" class="icons-menu-button" style="z-index: 1; transform: matrix(0.95, 0, 0, 0.95, 0, 0);">
                                    <i class="icons-menu-icon fa fa-suitcase" style="transform: matrix(0, 0, 0, 0, 0, 0);"></i>
                                </a>
                            </li>
                            <!--<li class="icons-menu-item">
                                <a href="blog.html" class="icons-menu-button" style="z-index: 2; transform: matrix(0.95, 0, 0, 0.95, 0, 0);">
                                    <i class="icons-menu-icon fa fa-pencil" style="transform: matrix(0, 0, 0, 0, 0, 0);"></i>
                                </a>
                            </li>-->
                            <li class="icons-menu-item">
                                <a href="#!contact" class="icons-menu-button" style="z-index: 2; transform: matrix(0.95, 0, 0, 0.95, 0, 0);">
                                    <i class="icons-menu-icon fa fa-envelope" style="transform: matrix(0, 0, 0, 0, 0, 0);"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Open Menu -->
                    <div class="arrow">
                        <div class="open-menu">open menu</div>
                    </div>
                    <!-- End Open Menu -->

                </div>
                <!-- End Menu -->
                <!-- Your Name -->
                <h2 class="title">Swatantra Mishra</h2>
                <!-- Your Profession -->
                <h3 class="sub-title">Web Designer & Mobile Application Developer</h3>
                <!-- social icon -->
                <div class="social">
                    <ul class="animated" data-animation="fadeIn" data-animation-delay="600">
                        <!-- social icons -->
                        <li><a class="ukie-icons hover-animate" href="https://www.facebook.com/s3swatantra" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><!--<a class="ukie-icons hover-animate" href="#"><i class="fa fa-twitter"></i></a>--></li>
                        <li><a class="ukie-icons hover-animate" href="https://in.linkedin.com/in/swatantra3" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  
                        -->
                    </ul>
                </div>
                <!-- end social icon -->
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<script src="../assets/js/menu.js"></script>